.popup__input[type="text"] {
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 34px;
}

.popup__input::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
}

.popup__input::-webkit-input-placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 1279px) {
  .popup__input[type="text"] {
    margin-bottom: 30px;
  }
}
