.profile__edit {
  border: 1px solid #FFF;
  margin-left: 18px;
  transition: opacity 1s;
  background-color: #000;
  background-image: url(../../../images/pensil.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
