.element__heart {
  background-image: url(../../../images/Heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 22px;
  height: 18px;
  object-fit: contain;
  border: 0;
  transition: all 1s;
  padding: 0;
}

.element__heart:hover {
  opacity: 0.5;
}

.element__heart:active {
  opacity: 1;
  background-image: url(../../../images/Union.svg);
}
